<div class="left-sidebar df-ac">
    <div class="shop-logo">
        <img class="profileImg"
        src="<%= user.logo %>"
        alt="">       
    </div>
    <ul class="page-redirect df-ac-sb">
        <li class="nav-item"><a class="nav-link" href="/cart">
                <i class="fas fa-store"></i><span>Home</span></a></li>
        <li class="nav-item"><a class="nav-link" href="/dashboard">
                <i class="fas fa-tachometer-alt"></i><span style="font-size: 12px;">Dashboard</span></a></li>
        <li class="nav-item"><a class="nav-link" href="/menu">
                <i class="far fa-list-alt"></i><span>Add Menu</span></a></li>
        <li class="nav-item"><a class="nav-link active" href="/profile">
                <i class="far fa-sun"></i><span>Setting</span></a></li>
        <li class="nav-item"><a class="nav-link" href="/products">
                <i class="fas fa-table"></i><span>Stock</span></a></li>
        <li class="nav-item"><a class="nav-link exit" href="/logout">
                <i class="fas fa-sign-out-alt"></i><span>Log Out</span></a></li>
    </ul>
</div>
