<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>foodCheq</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div id="main">
        <div class="bg-img"></div>
          <div class="text">
            <h1>Welcome to <span>foodCheq</span></h1>
            <h4>The best solution for your business to grow & make all your process smooth.</h4>
        </div>
  
      <div class="container">
        <div class="drop">
          <div class="content">
            <h2>Sign up now!</h2>
            <% if(message.length > 0) { %>
              <h5 style="color: rgb(189, 53, 53); font-size: 14px; width: 80%; "><%= message %></h5>
            <% } %>
            <form action="/register" method="post"> 
              <div class="inputbox">
                <input type="text" required minlength="0" aria-required="false" aria-invalid="true" name="username" placeholder="Username">
                </div>
                <div class="inputbox">
                    <input type="email" required minlength="0" aria-required="false" aria-invalid="true" name="email" placeholder="E-mail">
                    </div>
              <div class="inputbox">
                <input type="password" required minlength="0" aria-required="false" aria-invalid="true" name="password" placeholder="Create Password">
                </div>
                <div class="terms">
                    <input type="checkbox" required name="check">
                    <h6>I accept Terms & Conditions.</h6>
                </div>
                <div class="inputbox">
                  <input style="color: #fff; cursor: pointer; font-size: 14px;" type="submit" value="Sign Up">
                </div>
            </form>
          </div>
        </div>
        <a href="/forgetPg" ><h3 class="btns">Forgot Password</h3></a>
        <a href="/" ><h2 class="btns signup">Sign In</h2></a>
      </div>
</div>
<!-- <div class="sizeMsg">
  <h1>Sorry! can't load this page.</h1>
  <h4>Please use any <b>Laptop</b> Or <b>Desktop</b> to view page content. <br><br> [ Minimum Screen Size <b>1025px</b> ]</h4>
</div> -->
<script src="script.js"></script>
</body>
</html>