<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>foodCheq</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div id="main">
        <div class="bg-img"></div>  
      <div class="container">
        <div class="drop">
          <div class="content">
            <h2>Reset link sent!</h2>
            <h4 style="text-align: center; opacity: .7;">Please check your registered E-mail & click the link to reset password</h4>
            <form action="/">
                <div style=" width: 120px; margin-top: 5vw; margin-right: 50px;" class="inputbox">
                  <input style="color: #fff; font-size: 14px;" type="submit" value="Log In again">
                </div>
            </form>
          </div>
        </div>
      </div>
</div>
<!-- <div class="sizeMsg">
  <h1>Sorry! can't load this page.</h1>
  <h4>Please use any <b>Laptop</b> Or <b>Desktop</b> to view page content. <br><br> [ Minimum Screen Size <b>1025px</b> ]</h4>
</div> -->
<script src="script.js"></script>
</body>
</html>